#index-list {
    list-style-type: none;
    padding: 0;
  }
  
  #index-list li {
    display: inline-block;
    margin-right: 10px;
  }
  
  #index-list li a {
    text-decoration: none;
  }
  
  #index-list li a:hover {
    text-decoration: underline;
  }
  